body{
    background-color: powderblue;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color:yellow;
    width: 30%;
    border-width: 5px;

}
h1{
    color: green;
}